.main-container {
  padding: 30px 0;
  background-color: #e5e5e5;

  &__top {
    color: #222;
    padding: 0 10px 30px;
  }

  &__title {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0.7;
  }

  &__description {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
  }

  &__abilitys-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__ability {
    padding: 5px 0;
    opacity: 0.5;
    font-size: 14px;
  }

  &__gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 80vw);
    padding-left: 10px;
    justify-content: space-between;
    column-gap: 20px;
    overflow: hidden;
  }

  &__videoblock {
    position: relative;
  }

  &__video {
    width: 100%;
  }

  &__curtain {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;

    &--1 {
      background-image: url(../images/video-placeholder-main1.jpg);
    }

    &--2 {
      background-image: url(../images/video-placeholder-main2.jpg);
    }
  }

  &__videoblock-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65px;
    height: 65px;
    background-color: #fff;
    transform: translate(-50%, -50%);
  }

  &__play-triangle {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
  }

  &__videoblock-controls {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
  }

  &__button {
    width: 10vw;
    height: 10vw;
    max-width: 50px;
    max-height: 50px;
    background-color: #c4c4c4;
    background-repeat: no-repeat;
    background-position: center;

    &--back {
      margin-right: 25px;
      background-image: url(../images/arrow-left.svg);
    }

    &--forward {
      background-image: url(../images/arrow-right.svg);
    }
  }
}
