@import "utils";

body {
  font-family: $pageFont;
  font-weight: 400;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

@import "header";
@import "main-container";
@import "footer";
